%h1= t(:topics)

= link_to t('helpers.submit.create', model: Topic.model_name.human), new_category_topic_path(@category)

%table
  %tbody
    - @topics.each do |topic|
      %tr
        %td= link_to topic.name, topic_posts_path(topic)
        %td= truncate topic.content, length: 75, separator: ' '
        %td= authorized_only_edit_link edit_category_topic_path(@category, topic), topic
        %td= authorized_only_delete_link category_topic_path(@category, topic), topic
