%div
  %h1= @topic.name
  = link_to 'Post Reply', new_topic_post_path(@topic)
  %div
    %h2= @topic.user.username
    %p= @topic.content

  - @posts.each do |post|
    %div
      %h2= post.user.username
      = authorized_only_edit_link edit_topic_post_path(@topic, post), post
      = authorized_only_delete_link topic_post_path(@topic, post), post
      %p= post.processed_content.html_safe
